@-webkit-keyframes truck-skew {
    0%,
    15%,
    48%,
    75%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: skewX(-15deg);
      -moz-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
      -o-transform: skewX(-15deg);
      transform: skewX(-15deg);
    }
    35%,
    38% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: skewX(-13deg);
      -moz-transform: skewX(-13deg);
      -ms-transform: skewX(-13deg);
      -o-transform: skewX(-13deg);
      transform: skewX(-13deg);
    }
    65% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: tskewX(-12deg);
      -moz-transform: tskewX(-12deg);
      -ms-transform: tskewX(-12deg);
      -o-transform: tskewX(-12deg);
      transform: tskewX(-12deg);
    }
    85% {
      -webkit-transform: skewX(-14deg);
      -moz-transform: skewX(-14deg);
      -ms-transform: skewX(-14deg);
      -o-transform: skewX(-14deg);
      transform: skewX(-14deg);
    }
  }
  @keyframes truck-skew {
    0%,
    15%,
    48%,
    75%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: skewX(-15deg);
      -moz-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
      -o-transform: skewX(-15deg);
      transform: skewX(-15deg);
    }
    35%,
    38% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: skewX(-13deg);
      -moz-transform: skewX(-13deg);
      -ms-transform: skewX(-13deg);
      -o-transform: skewX(-13deg);
      transform: skewX(-13deg);
    }
    65% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: tskewX(-12deg);
      -moz-transform: tskewX(-12deg);
      -ms-transform: tskewX(-12deg);
      -o-transform: tskewX(-12deg);
      transform: tskewX(-12deg);
    }
    85% {
      -webkit-transform: skewX(-14deg);
      -moz-transform: skewX(-14deg);
      -ms-transform: skewX(-14deg);
      -o-transform: skewX(-14deg);
      transform: skewX(-14deg);
    }
  }
  @-webkit-keyframes wheel-front-bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      -o-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -5px, 0);
      -moz-transform: translate3d(0, -5px, 0);
      -ms-transform: translate3d(0, -5px, 0);
      -o-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -1px, 0);
      -moz-transform: translate3d(0, -1px, 0);
      -ms-transform: translate3d(0, -1px, 0);
      -o-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0);
    }
  }
  @keyframes wheel-front-bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      -o-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -5px, 0);
      -moz-transform: translate3d(0, -5px, 0);
      -ms-transform: translate3d(0, -5px, 0);
      -o-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -1px, 0);
      -moz-transform: translate3d(0, -1px, 0);
      -ms-transform: translate3d(0, -1px, 0);
      -o-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0);
    }
  }
  @-webkit-keyframes wheel-back-bounce {
    0%,
    25%,
    58%,
    85%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    45%,
    48% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      -o-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    75% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -5px, 0);
      -moz-transform: translate3d(0, -5px, 0);
      -ms-transform: translate3d(0, -5px, 0);
      -o-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    95% {
      -webkit-transform: translate3d(0, -1px, 0);
      -moz-transform: translate3d(0, -1px, 0);
      -ms-transform: translate3d(0, -1px, 0);
      -o-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0);
    }
  }
  @keyframes wheel-back-bounce {
    0%,
    25%,
    58%,
    85%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    45%,
    48% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      -o-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    75% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -5px, 0);
      -moz-transform: translate3d(0, -5px, 0);
      -ms-transform: translate3d(0, -5px, 0);
      -o-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    95% {
      -webkit-transform: translate3d(0, -1px, 0);
      -moz-transform: translate3d(0, -1px, 0);
      -ms-transform: translate3d(0, -1px, 0);
      -o-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0);
    }
  }
  @-webkit-keyframes body-bounce {
    0%,
    15%,
    48%,
    75%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    35%,
    38% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      -o-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    65% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -5px, 0);
      -moz-transform: translate3d(0, -5px, 0);
      -ms-transform: translate3d(0, -5px, 0);
      -o-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    85% {
      -webkit-transform: translate3d(0, -1px, 0);
      -moz-transform: translate3d(0, -1px, 0);
      -ms-transform: translate3d(0, -1px, 0);
      -o-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0);
    }
  }
  @keyframes body-bounce {
    0%,
    15%,
    48%,
    75%,
    100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    35%,
    38% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      -ms-transform: translate3d(0, -10px, 0);
      -o-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
    65% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -5px, 0);
      -moz-transform: translate3d(0, -5px, 0);
      -ms-transform: translate3d(0, -5px, 0);
      -o-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
    85% {
      -webkit-transform: translate3d(0, -1px, 0);
      -moz-transform: translate3d(0, -1px, 0);
      -ms-transform: translate3d(0, -1px, 0);
      -o-transform: translate3d(0, -1px, 0);
      transform: translate3d(0, -1px, 0);
    }
  }
  @-webkit-keyframes gas-first-flow {
    0% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    50% {
      opacity: 1;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(-20px, -3px, 0);
      -moz-transform: translate3d(-20px, -3px, 0);
      -ms-transform: translate3d(-20px, -3px, 0);
      -o-transform: translate3d(-20px, -3px, 0);
      transform: translate3d(-20px, -3px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(-40px, -6px, 0);
      -moz-transform: translate3d(-40px, -6px, 0);
      -ms-transform: translate3d(-40px, -6px, 0);
      -o-transform: translate3d(-40px, -6px, 0);
      transform: translate3d(-40px, -6px, 0);
    }
  }
  @keyframes gas-first-flow {
    0% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    50% {
      opacity: 1;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(-20px, -3px, 0);
      -moz-transform: translate3d(-20px, -3px, 0);
      -ms-transform: translate3d(-20px, -3px, 0);
      -o-transform: translate3d(-20px, -3px, 0);
      transform: translate3d(-20px, -3px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(-40px, -6px, 0);
      -moz-transform: translate3d(-40px, -6px, 0);
      -ms-transform: translate3d(-40px, -6px, 0);
      -o-transform: translate3d(-40px, -6px, 0);
      transform: translate3d(-40px, -6px, 0);
    }
  }
  @-webkit-keyframes gas-last-flow {
    0% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(30px, 0px, 0);
      -moz-transform: translate3d(30px, 0px, 0);
      -ms-transform: translate3d(30px, 0px, 0);
      -o-transform: translate3d(30px, 0px, 0);
      transform: translate3d(30px, 0px, 0);
    }
    50% {
      opacity: 1;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(10px, -5px, 0);
      -moz-transform: translate3d(10px, -5px, 0);
      -ms-transform: translate3d(10px, -5px, 0);
      -o-transform: translate3d(10px, -5px, 0);
      transform: translate3d(10px, -5px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(0px, -10px, 0);
      -moz-transform: translate3d(0px, -10px, 0);
      -ms-transform: translate3d(0px, -10px, 0);
      -o-transform: translate3d(0px, -10px, 0);
      transform: translate3d(0px, -10px, 0);
    }
  }
  @keyframes gas-last-flow {
    0% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(30px, 0px, 0);
      -moz-transform: translate3d(30px, 0px, 0);
      -ms-transform: translate3d(30px, 0px, 0);
      -o-transform: translate3d(30px, 0px, 0);
      transform: translate3d(30px, 0px, 0);
    }
    50% {
      opacity: 1;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(10px, -5px, 0);
      -moz-transform: translate3d(10px, -5px, 0);
      -ms-transform: translate3d(10px, -5px, 0);
      -o-transform: translate3d(10px, -5px, 0);
      transform: translate3d(10px, -5px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transform: translate3d(0px, -10px, 0);
      -moz-transform: translate3d(0px, -10px, 0);
      -ms-transform: translate3d(0px, -10px, 0);
      -o-transform: translate3d(0px, -10px, 0);
      transform: translate3d(0px, -10px, 0);
    }
  }
  #truck {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: truck-skew;
    -moz-animation-name: truck-skew;
    -ms-animation-name: truck-skew;
    -o-animation-name: truck-skew;
    animation-name: truck-skew;
    width: 100px;
  }
  #truck #wheel--front {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: wheel-front-bounce;
    -moz-animation-name: wheel-front-bounce;
    -ms-animation-name: wheel-front-bounce;
    -o-animation-name: wheel-front-bounce;
    animation-name: wheel-front-bounce;
  }
  #truck #wheel--back {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: wheel-back-bounce;
    -moz-animation-name: wheel-back-bounce;
    -ms-animation-name: wheel-back-bounce;
    -o-animation-name: wheel-back-bounce;
    animation-name: wheel-back-bounce;
  }
  #truck #body {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: body-bounce;
    -moz-animation-name: body-bounce;
    -ms-animation-name: body-bounce;
    -o-animation-name: body-bounce;
    animation-name: body-bounce;
    fill: crimson;
  }
  #truck #gas--first {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -ms-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: gas-first-flow;
    -moz-animation-name: gas-first-flow;
    -ms-animation-name: gas-first-flow;
    -o-animation-name: gas-first-flow;
    animation-name: gas-first-flow;
    fill: #dedede;
  }
  #truck #gas--last {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -ms-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: gas-last-flow;
    -moz-animation-name: gas-last-flow;
    -ms-animation-name: gas-last-flow;
    -o-animation-name: gas-last-flow;
    animation-name: gas-last-flow;
    fill: #ececec;
  }
  
  #truck {
    width: 200px;
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    margin-top: -61px;
    margin-left: -100px;
  }

  .jumbotron {
      background-color: #ffffff;
  }

  .address {
      list-style-type: none;
  }